@import './common/404.scss';
@import './common/classedstyles.scss';
@import './common/colors.scss';
@import './common/metrics.scss';
@import './unauthenticated/header.scss';
@import './unauthenticated/footer.scss';
body {
    min-height: 100vh;
    font: $medium-text 'Open Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}
