<html>
    <head>
        <title>{{site-name}}</title>
        <link rel='stylesheet' href='styles/main.css' defered />
        <link rel='icon' href='img/favicon.png' sizes='192x192' />
        <link rel='apple-touch-icon' href='img/favicon.png' />
    </head>
    <body>
        Error: something went wrong!
    </body>
</html>