<header id='header' class='flex flex-row justify-between items-center p-h-6'>
    <div id='logo-container'>
        <a href='/' id='logo'>
            <img alt='logo' src='img/logo.png' />
        </a>
    </div>
    <!-- Desktop Nav -->
    <nav id='nav' class='flex flex-row'>
        <ul class='flex flex-row flex-1 m-0 h-fill-p'>
            <li class='flex items-center first'>
                <a href='/' id='index-link'>Home</a>
            </li>
            <li id='dropdown-container' class='flex flex-col relative justify-center first'>
                <a href='#' id='dropdown-link'>Drop down</a>
                <ul id='dropdown' class='flex flex-col w-fill-p justify-center absolute lg-shadow'>
                    <li class='flex w-fill-p second'><a class='flex flex-1' href='/dropdown-1' id='dropdown-1-link'>Item
                            1</a></li>
                    <li class='flex w-fill-p second'><a class='flex flex-1' href='/dropdown-2' id='dropdown-2-link'>Item
                            2</a></li>
                    <li class='flex w-fill-p second'><a class='flex flex-1' href='/dropdown-3' id='dropdown-3-link'>Item
                            3</a></li>
                </ul>
            </li>
            <li class='flex items-center first'>
                <a href='/about' id='about-link'>About</a>
            </li>
            <li class='flex items-center first'>
                <a href='/contact' id='contact-link'>Contact</a>
            </li>
        </ul>
    </nav>
    <!-- Mobile Nav -->
    <nav id='nav-mobile' class='flex flex-col'>
        <div id='hamburger-menu' class="flex flex-col">
            <span class="flex w-fill-p m-v-1"></span>
            <span class="flex w-fill-p  m-v-1"></span>
            <span class="flex w-fill-p  m-v-1"></span>
        </div>
        <ul id='vertical-menu' class='flex flex-col flex-1 m-0 h-fill-p'>
            <li class='flex items-center first'>
                <a href='/' id='index-link'>Home</a>
            </li>
            <li id='dropdown-container' class='flex flex-col relative justify-center first'>
                <a href='#' id='dropdown-link'>Drop down</a>
                <ul id='dropdown' class='flex flex-col w-fill-p justify-center mobi'>
                    <li class='flex w-fill-p second'><a class='flex flex-1' href='/dropdown-1' id='dropdown-1-link'>Item
                            1</a></li>
                    <li class='flex w-fill-p second'><a class='flex flex-1' href='/dropdown-2' id='dropdown-2-link'>Item
                            2</a></li>
                    <li class='flex w-fill-p second'><a class='flex flex-1' href='/dropdown-3' id='dropdown-3-link'>Item
                            3</a></li>
                </ul>
            </li>
            <li class='flex items-center first'>
                <a href='/about' id='about-link'>About</a>
            </li>
            <li class='flex items-center first'>
                <a href='/contact' id='contact-link'>Contact</a>
            </li>
        </ul>
    </nav>
</header>
<script type='text/javascript' src='scripts/unauthenticated/header.js'></script>