<main class='m-h-5 m-v-4'>
    <div class='flex justify-start'>
        <a href='/' class='nav-button'><img alt='home' src='img/svg/home.svg' /></a>
    </div>
    <div class='flex flex-col justify-center items-center error-container'>
        <h2 class='p-2 bg-l-grey font-jumbo rounded-2'>404</h2>
        <p>page could not be found</p>
    </div>
</main>