.nav-button {
  text-decoration: none;
  height: 25px;
  width: 25px;
}

/** Text **/
/** Padding **/
/** Border Radius **/
/** Text **/
.text-center {
  text-align: center !important;
}

/** Overflow **/
.no-overflow {
  overflow: hidden;
}

/** Flexbox **/
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

/** Padding and Margin **/
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 3px;
}

.p-2 {
  padding: 5px;
}

.p-3 {
  padding: 10px;
}

.p-4 {
  padding: 15px;
}

.p-5 {
  padding: 25px;
}

.p-6 {
  padding: 10%;
}

.p-h-1 {
  padding-left: 3px;
  padding-right: 3px;
}

.p-h-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.p-h-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.p-h-4 {
  padding-left: 15px;
  padding-right: 15px;
}

.p-h-5 {
  padding-left: 25px;
  padding-right: 25px;
}

.p-h-6 {
  padding-left: 10%;
  padding-right: 10%;
}

.p-v-1 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.p-v-2 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-v-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-v-4 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-v-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.p-v-6 {
  padding-top: 10%;
  padding-bottom: 10%;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 3px;
}

.m-2 {
  margin: 5px;
}

.m-3 {
  margin: 10px;
}

.m-4 {
  margin: 15px;
}

.m-5 {
  margin: 25px;
}

.m-6 {
  margin: 10%;
}

.m-h-1 {
  margin-left: 3px;
  margin-right: 3px;
}

.m-h-2 {
  margin-left: 5px;
  margin-right: 5px;
}

.m-h-3 {
  margin-left: 10px;
  margin-right: 10px;
}

.m-h-4 {
  margin-left: 15px;
  margin-right: 15px;
}

.m-h-5 {
  margin-left: 25px;
  margin-right: 25px;
}

.m-h-6 {
  margin-left: 10%;
  margin-right: 10%;
}

.m-v-1 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.m-v-2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-v-3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-v-4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-v-5 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.m-v-6 {
  margin-top: 10%;
  margin-bottom: 10%;
}

/** Height and width **/
.h-min-1 {
  min-height: 100px;
}

.h-min-2 {
  min-height: 200px;
}

.h-min-3 {
  min-height: 300px;
}

.h-min-4 {
  min-height: 400px;
}

.w-min-1 {
  min-width: 100px;
}

.w-min-2 {
  min-width: 200px;
}

.w-min-3 {
  min-width: 300px;
}

.w-min-4 {
  min-width: 400px;
}

.h-fill-p {
  height: 100%;
}

.w-fill-p {
  width: 100%;
}

.h-fill-vp {
  height: 100vh;
}

.w-fill-vp {
  width: 100vw;
}

/** Border **/
.b-1-l-grey {
  border: 1px solid #c9c9c9;
}

.b-2-l-grey {
  border: 2px solid #c9c9c9;
}

.b-1-grey {
  border: 1px solid #949494;
}

.b-2-grey {
  border: 2px solid #949494;
}

.rounded-1 {
  border-radius: 3px;
}

.rounded-2 {
  border-radius: 5px;
}

.rounded-3 {
  border-radius: 10px;
}

.rounded-full {
  border-radius: 50%;
}

/** Background **/
.bg-vl-grey {
  background-color: #f0f0f0;
}

.bg-l-grey {
  background-color: #c9c9c9;
}

.bg-grey {
  background-color: #949494;
}

.bg-white {
  background-color: #ffffff;
}

/** Font **/
.font-vs {
  font-size: 10px;
}

.font-s {
  font-size: 12px;
}

.font-m {
  font-size: 14px;
}

.font-lg {
  font-size: 16px;
}

.font-xlg {
  font-size: 18px;
}

.font-jumbo {
  font-size: 45px;
}

/** Position **/
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.static {
  position: static;
}

.sticky {
  position: sticky;
}

/** Shadow **/
.vs-shadow {
  box-shadow: 0px 2px 2px 2px #f0f0f0;
}

.sm-shadow {
  box-shadow: 0px 3px 3px 3px #f0f0f0;
}

.md-shadow {
  box-shadow: 0px 5px 5px 5px #f0f0f0;
}

.lg-shadow {
  box-shadow: 0px 8px 8px 8px #f0f0f0;
}

/** Responsive **/
@media screen and (max-width: 680px) {
  /** Position **/
  .center-all-md {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
/** Text **/
/** Padding **/
/** Border Radius **/
#header {
  border-bottom: thin solid #f0f0f0;
  position: relative;
}
#header a {
  color: #949494;
  text-decoration: none;
}
#header #logo-container #logo img {
  height: 40px;
  width: auto;
}
#header #nav-mobile,
#header #hamburger-menu,
#header #vertical-menu {
  display: none;
}
#header #vertical-menu {
  position: absolute;
  background-color: #ffffff;
  padding: 10px 0;
  top: 50px;
  right: 0;
  max-width: 100%;
  width: 100%;
}
#header #vertical-menu li {
  margin: 0 5px;
  padding: 10px;
  list-style: none;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px solid #5a5a5a;
}
#header #vertical-menu li#dropdown-container #dropdown {
  overflow: hidden;
  display: none;
  left: 0;
  top: 80px;
  padding: 10px 0 0;
  width: 100%;
}
#header #vertical-menu li#dropdown-container #dropdown li {
  margin: 0;
  font-weight: 300;
  border-top: 1px solid #f0f0f0;
  border-bottom: none;
}
#header #vertical-menu li#dropdown-container #dropdown li:active {
  background-color: #c9c9c9;
}
#header #nav {
  color: #949494;
  height: 80px;
}
#header #nav ul li {
  margin: 0 5px;
  padding: 10px;
  list-style: none;
  cursor: pointer;
}
#header #nav ul li a::after {
  display: block;
  content: "";
  border-bottom: 2px solid #5a5a5a;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
#header #nav ul li a.active:hover {
  border-bottom: none;
}
#header #nav ul li a.active:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}
#header #nav ul li a.active::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}
#header #nav ul li#dropdown-container #dropdown {
  overflow: hidden;
  display: none;
  left: 0;
  top: 80px;
  padding: 10px 0 0;
  width: 250px;
}
#header #nav ul li#dropdown-container #dropdown li {
  margin: 0;
}
#header #nav ul li#dropdown-container #dropdown li a::after {
  border-bottom: none;
}
#header #nav ul li#dropdown-container #dropdown li:hover {
  color: #ffffff;
  background-color: #83936a;
}
#header #nav ul li#dropdown-container #dropdown li:hover a {
  color: #ffffff;
}
#header #nav ul li#dropdown-container #dropdown:active, #header #nav ul li#dropdown-container #dropdown:hover {
  display: flex;
}
#header #nav ul li#dropdown-container:hover > #dropdown {
  display: flex;
}
@media only screen and (max-width: 768px) {
  #header #nav {
    display: none;
  }
  #header #nav-mobile,
#header #hamburger-menu {
    display: flex;
  }
  #header #hamburger-menu {
    width: 30px;
    cursor: pointer;
    z-index: 200;
  }
  #header #hamburger-menu span {
    min-height: 3px;
    background-color: #5a5a5a;
  }
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #5a5a5a;
  min-height: 30px;
  color: #ffffff;
}

body {
  min-height: 100vh;
  font: 14px "Open Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
