@import '../common/metrics.scss';
@import '../common/colors.scss';
/** Text **/

.text-center {
    text-align: center !important;
}

/** Overflow **/

.no-overflow {
    overflow: hidden;
}

/** Flexbox **/

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

/** Padding and Margin **/

.p-0 {
    padding: 0;
}

.p-1 {
    padding: $very-small-space;
}

.p-2 {
    padding: $small-space;
}

.p-3 {
    padding: $medium-space;
}

.p-4 {
    padding: $large-space;
}

.p-5 {
    padding: $extra-large-space;
}

.p-6 {
    padding: $responsive-medium-space;
}

.p-h-1 {
    padding-left: $very-small-space;
    padding-right: $very-small-space;
}

.p-h-2 {
    padding-left: $small-space;
    padding-right: $small-space;
}

.p-h-3 {
    padding-left: $medium-space;
    padding-right: $medium-space;
}

.p-h-4 {
    padding-left: $large-space;
    padding-right: $large-space;
}

.p-h-5 {
    padding-left: $extra-large-space;
    padding-right: $extra-large-space;
}

.p-h-6 {
    padding-left: $responsive-medium-space;
    padding-right: $responsive-medium-space;
}

.p-v-1 {
    padding-top: $very-small-space;
    padding-bottom: $very-small-space;
}

.p-v-2 {
    padding-top: $small-space;
    padding-bottom: $small-space;
}

.p-v-3 {
    padding-top: $medium-space;
    padding-bottom: $medium-space;
}

.p-v-4 {
    padding-top: $large-space;
    padding-bottom: $large-space;
}

.p-v-5 {
    padding-top: $extra-large-space;
    padding-bottom: $extra-large-space;
}

.p-v-6 {
    padding-top: $responsive-medium-space;
    padding-bottom: $responsive-medium-space;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: $very-small-space;
}

.m-2 {
    margin: $small-space;
}

.m-3 {
    margin: $medium-space;
}

.m-4 {
    margin: $large-space;
}

.m-5 {
    margin: $extra-large-space;
}

.m-6 {
    margin: $responsive-medium-space;
}

.m-h-1 {
    margin-left: $very-small-space;
    margin-right: $very-small-space;
}

.m-h-2 {
    margin-left: $small-space;
    margin-right: $small-space;
}

.m-h-3 {
    margin-left: $medium-space;
    margin-right: $medium-space;
}

.m-h-4 {
    margin-left: $large-space;
    margin-right: $large-space;
}

.m-h-5 {
    margin-left: $extra-large-space;
    margin-right: $extra-large-space;
}

.m-h-6 {
    margin-left: $responsive-medium-space;
    margin-right: $responsive-medium-space;
}

.m-v-1 {
    margin-top: $very-small-space;
    margin-bottom: $very-small-space;
}

.m-v-2 {
    margin-top: $small-space;
    margin-bottom: $small-space;
}

.m-v-3 {
    margin-top: $medium-space;
    margin-bottom: $medium-space;
}

.m-v-4 {
    margin-top: $large-space;
    margin-bottom: $large-space;
}

.m-v-5 {
    margin-top: $extra-large-space;
    margin-bottom: $extra-large-space;
}

.m-v-6 {
    margin-top: $responsive-medium-space;
    margin-bottom: $responsive-medium-space;
}

/** Height and width **/

.h-min-1 {
    min-height: 100px;
}

.h-min-2 {
    min-height: 200px;
}

.h-min-3 {
    min-height: 300px;
}

.h-min-4 {
    min-height: 400px;
}

.w-min-1 {
    min-width: 100px;
}

.w-min-2 {
    min-width: 200px;
}

.w-min-3 {
    min-width: 300px;
}

.w-min-4 {
    min-width: 400px;
}

.h-fill-p {
    height: 100%;
}

.w-fill-p {
    width: 100%;
}

.h-fill-vp {
    height: 100vh;
}

.w-fill-vp {
    width: 100vw;
}

/** Border **/

.b-1-l-grey {
    border: 1px solid $light-grey;
}
.b-2-l-grey {
    border: 2px solid $light-grey;
}
.b-1-grey {
    border: 1px solid $grey;
}
.b-2-grey {
    border: 2px solid $grey;
}
.rounded-1 {
    border-radius: $very-small-radius;
}
.rounded-2 {
    border-radius: $small-radius;
}
.rounded-3 {
    border-radius: $medium-radius;
}
.rounded-full {
    border-radius: $half-radius;
}

/** Background **/

.bg-vl-grey {
    background-color: $very-light-grey;
}

.bg-l-grey {
    background-color: $light-grey;
}

.bg-grey {
    background-color: $grey;
}

.bg-white {
    background-color: $white;
}

/** Font **/

.font-vs {
    font-size: $very-small-text;
}

.font-s {
    font-size: $small-text;
}

.font-m {
    font-size: $medium-text;
}

.font-lg {
    font-size: $large-text;
}

.font-xlg {
    font-size: $extra-large-text;
}

.font-jumbo {
    font-size: $jumbo-text;
}

/** Position **/

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.static {
    position: static;
}

.sticky {
    position: sticky;
}

/** Shadow **/

.vs-shadow {
    box-shadow: 0px 2px 2px 2px $very-light-grey;
}

.sm-shadow {
    box-shadow: 0px 3px 3px 3px $very-light-grey;
}

.md-shadow {
    box-shadow: 0px 5px 5px 5px $very-light-grey;
}

.lg-shadow {
    box-shadow: 0px 8px 8px 8px $very-light-grey;
}

/** Responsive **/

@media screen and (max-width: 680px) {
    /** Position **/
    .center-all-md {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
