#header {
    border-bottom: thin solid $very-light-grey;
    position: relative;
    a {
        color: $grey;
        text-decoration: none;
    }
    #logo-container {
        #logo {
            img {
                height: 40px;
                width: auto;
            }
        }
    }
    #nav-mobile,
    #hamburger-menu,
    #vertical-menu {
        display: none;
    }
    #vertical-menu {
        position: absolute;
        background-color: $white;
        padding: $medium-space 0;
        top: 50px;
        right: 0;
        max-width: 100%;
        width: 100%;
        li {
            margin: 0 5px;
            padding: 10px;
            list-style: none;
            cursor: pointer;
            font-weight: 500;
            border-bottom: 1px solid $dark-grey;
            &#dropdown-container {
                #dropdown {
                    overflow: hidden;
                    display: none;
                    left: 0;
                    top: 80px;
                    padding: 10px 0 0;
                    width: 100%;
                    li {
                        margin: 0;
                        font-weight: 300;
                        border-top: 1px solid $very-light-grey;
                        border-bottom: none;
                        &:active {
                            background-color: $light-grey;
                        }
                    }
                }
            }
        }
    }
    #nav {
        color: $grey;
        height: 80px;
        ul {
            li {
                margin: 0 5px;
                padding: 10px;
                list-style: none;
                cursor: pointer;
                a {
                    &::after {
                        display: block;
                        content: '';
                        border-bottom: 2px solid $dark-grey;
                        transform: scaleX(0);
                        transition: transform 0.2s ease-in-out;
                    }
                    &.active {
                        &:hover {
                            border-bottom: none;
                            &::after {
                                transform: scaleX(1);
                                transform-origin: 0% 50%;
                            }
                        }
                    }
                    &.active {
                        &::after {
                            transform: scaleX(1);
                            transform-origin: 0% 50%;
                        }
                    }
                }
                &#dropdown-container {
                    #dropdown {
                        overflow: hidden;
                        display: none;
                        left: 0;
                        top: 80px;
                        padding: 10px 0 0;
                        width: 250px;
                        li {
                            margin: 0;
                            a {
                                &::after {
                                    border-bottom: none;
                                }
                            }
                            &:hover {
                                color: $white;
                                background-color: $light-green;
                                a {
                                    color: $white;
                                }
                            }
                        }
                        &:active,
                        &:hover {
                            display: flex;
                        }
                    }
                    &:hover > #dropdown {
                        display: flex;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        #nav {
            display: none;
        }
        #nav-mobile,
        #hamburger-menu {
            display: flex;
        }
        #hamburger-menu {
            width: 30px;
            cursor: pointer;
            z-index: 200;
            span {
                min-height: 3px;
                background-color: $dark-grey;
            }
        }
    }
}
