<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{site-name}}</title>
        <link rel="stylesheet" href="styles/main.css" defered>
        <link rel="icon" href="img/favicon.png" sizes="192x192">
        <link rel="apple-touch-icon" href="img/favicon.png">
        <script type='text/javascript' src='scripts/common/jQuery.3.6.0.js'></script>
    </head>
    <body>
        {{> unauthenticated/header}}
        {{{body}}}
        {{> unauthenticated/footer}}
    </body>
</html>